.login {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.14)
  );
  box-shadow: 1px 1px 10px 3px rgba(255, 255, 255, 0.25);
  filter: contrast(1px);
}

.loginbtn:hover {
  color: white !important;
  border-color: white !important;
  background-color: #0d6efd;
}

.stdlogin {
  filter: drop-shadow(2px 3px 3px rgba(255, 255, 255, 0.15));
}

.profile {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.12),
    rgba(0, 0, 0, 0.1)
  );
  box-shadow: 1px 1px 10px 3px rgba(255, 255, 255, 0.25);
  filter: contrast(1px);
}

.active {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px 6px 3px rgba(255, 255, 255, 0.25);
}

.slogin {
  background: transparent !important;
  box-shadow: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
